*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.background{
    
    padding: 20px;
}

.container{
    max-width: 800px;
    margin:0 auto;
}

.small{
    max-width: 600px !important;
}

.row{
    display:flex;
}

.direction-reverse{
    flex-direction: row-reverse;
}

.col{
    height:250px;
    border:3px dotted black;

}

.c-100{
    width:100%;
}

.c-60{
    width:60%;
}

.c-40{
    width:40%;
}

.big-height{
    height:400px;
}

.c-16{
    width:calc(100%/6);
    border:3px dotted white !important;
}

.c-32{
    width:calc(100%/3);
}

footer hr{
    color:white;
}


/*BACKGROUND COLORS*/

.gold{
    background-color: goldenrod;
}

.blue{
    background-color: darkblue;
}

.sky{
    background-color: skyblue;
}

.violet{
    background-color: violet;
}

.dark-gray{
    background-color: gray;
}

.lightblue{
    background-color: lightblue;
}

.pink{
    background-color: pink;
}

.green{
    background-color: green;
}

.turquoise{
    background-color: turquoise;
}

.gray{
    background-color: lightgray;
}
